* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
}

.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 46px;
    font-size: 20px;
}

.minecraft-imagem{
    width: 25%;
}

.minecraft{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 524px 0;
}

.minecraft-div-conteudo{
    width: 15%;
}
.minecraft-titulo{
    padding: 24px 0;
}